# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
pd-examples/swagger_demo/target
pd-examples/pd-examples.iml
pd-apps/pd-gateway/target
pd-apps/pd-auth/pd-auth-server/target
pd-examples/knife4j_demo/target
pd-tools/pd-tools-dozer/target
pd-tools/pd-tools-j2cache/target
pd-tools/pd-tools-jwt/target
pd-tools/pd-tools-log/target
pd-tools/pd-tools-swagger2/target
pd-tools/pd-tools-xss/target
pd-examples/mySwaggerApp/target
*.iml
